body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    gap: 100px;
    width: 100%;
    height: 100px;
    align-items: center;
    
}

.header img {
    right:0%;
    width: 25%;
    height: 25%;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(151deg) brightness(103%) contrast(101%);
}

.push {
    margin-left: auto;
}

.second {
    display: flex;
    gap: 100px;
    color: #FFFFFF;
}

.second h1 {
    font-size: 310%;
}

.lets {
    margin-left: 100px;
    margin-top: 120px;
}

.cloud {
    margin-bottom: -4px;
}

#random {
    text-align: center;
}

.third div {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.pictext {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
}

.fourth {
    padding: 100px;
}

.quote {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: larger;
    
}

.fifth {
    display: flex;
   padding: 100px;
   justify-content: center;
}

.signup {
    margin-left: 50px;
    margin-top: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.background {
    background-image: linear-gradient(#3a7fd0, #63b7f1);
}

.header button {
    background-color: transparent;
    border: none;
    transition-duration: 0.3s;
    color: white;
    font-size: medium;
}

button:hover {
    color: #77c63b;
}

.second button {
    border: black;
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    border-radius: 8px;
}

.second button:hover {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}